body {
  margin: 0;
  background-color: #fff;
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: 24px;

}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
