.comment {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  width: 100%;
  padding: 25px 18px 26px 18px;
  background-color: $primary-ligth;
}

.comment__author {
  font-weight: bold;
}

.comment__text {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.comment__date {
  font-family: italic;
  color: $primary-dark;
}

.comment__like {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: auto;
  color: $accent;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  padding-left: 32px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.comment__button-like {
  border: none;
  margin-left: auto;
  width: 14px;
  height: 12px;
  font-size: 0;
  line-height: 0;
  background-color: inherit;
  background-image: url("../../img/icon-heart.svg");
  background-repeat: no-repeat;
}
