.comment {
  background-color: $field-grey;
}
.comment__author {
  font-weight: bold;
}
.comment__date {
  font-family: italic;
  color: lighten($dark, 25%);
}
.comment__like {
  color: $accent;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
}
