.contacts {
  padding-bottom: 60px;
}

.contacts__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;

  @media (min-width: $tablet-width) {
    font-size: 31px;
    line-height: 35px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.contacts__item {
  width: 100%;

  &--tel {
    order: 0;
  }

  &--address {
    order: 2;

    @media (min-width: $tablet-width) {
      margin: 0 auto;
      padding-top: 40px;
    }

    @media (min-width: $desktop-width) {
      order: 1;
    }
  }

  &--mail {
    order: 1;

    @media (min-width: $desktop-width) {
      order: 2;
    }
  }

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 33%;
  }
}

.contacts__text {
  font-size: 18px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.contacts__link {
  font-size: 24px;
  font-weight: 300;
  color: $accent;
}
