
.site-reviews {
  padding-top: 40px;
}

.site-reviews__field {
  &--grey {
    background-color: $primary-ligth;
  }
}

.site-reviews__h {
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  margin-top: 0;
}

.site-reviews__h-item {
  display: block;
  margin-bottom: 30px;
}

.site-reviews__text {
  line-height: 30px;
  padding: 10px;
  text-align: center;
}

.site-reviews__link {
  color: $accent;
  text-decoration: underline;
}

.site-reviews__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.site-reviews__item {
  text-align: center;
}

.site-reviews__item--last {
  padding-bottom: 300px;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    background-image: url("../../img/iphone-screen-mobile@1x.png");
    position: absolute;
    bottom: -39px;
    margin-left: -78px;
    left: 50%;
    width: 157px;
    height: 320px;
  }
}

.site-reviews__title {
  font-size: 18px;
  line-height: 10px;
  font-weight: 700;
  margin-top: 35px;
}

.site-reviews__veriables-text {
  display: none;
}

.site-reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .site-reviews {
    padding-top: 50px;
  }

  .site-reviews__feild {
    margin-top: 100px;
  }

  .site-reviews__h-item {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 0;

    &--last {
      margin: 0 auto;
      width: 335px;
    }
  }

  .site-reviews__list {
    margin-left: auto;
  }

  .site-reviews__veriables-text {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .site-reviews__list {
    flex-direction: row;
  }

  .site-reviews__item {
    width: 32%;
  }

  .site-reviews__veriables-text {
    display: block;
  }
}
