.site-footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-footer__connection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-list {
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.site-footer__development {
  margin: 0;
  width: 130px;
  display: flex;
}

.site-footer__development a {
  margin-left: 15px;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .site-footer__connection {
    flex-direction: row;
    justify-content: space-between;
  }

  .social-list {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .site-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
