
.site-reviews {
  padding-top: 45px;
}

.site-reviews__field {
  &--grey {
    background-color: $primary-ligth;
  }
}

.site-reviews__h {
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  margin-top: 0;
}

.site-reviews__link {
  color: $accent;
  text-decoration: underline;
}

.site-reviews__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.site-reviews__item {
  text-align: center;
  padding: 14px;
}

.site-reviews__title {
  font-size: 18px;
  line-height: 10px;
  font-weight: 700;
  margin-top: 35px;
}

.site-reviews__veriables-text {
  display: none;
}

.site-reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.site-reviews__text {
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .site-reviews__veriables-text {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .site-reviews__list {
    flex-direction: row;
  }

  .site-reviews__item {
    width: 32%;
  }

  .site-reviews__veriables-text {
    display: block;
  }
}
