.site-footer {
  padding-top: 40px;
  text-align: center;
}

.site-footer__map {
  width: 100%;
  min-height: 200px;
  background-image: url("../../img/bg-map-mobile@1x.png");
  background-size: 320px auto;
  background-repeat: no-repeat;
  background-position: 50% 100%;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../../img/bg-map-mobile@2x.jpg");
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    min-height: 375px;
    background-image: url("../../img/bg-map-tablet@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 75%;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../../img/bg-map-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 500px;
    background-image: url("../../img/bg-map-desktop@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 45%;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../../img/bg-map-desktop@2x.jpg");
      background-size: cover;
    }
  }
}

.site-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--none {
    display: none;
  }
}

.site-footer__logo-link:active {
  opacity: 0.3;
}

.site-footer__logo-link:hover .footer__logo-pink {
  fill: $accent;
}

.social-list {
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.social-list__item {
  padding-left: 3px;
  padding-top: 3px;
  width: 51px;
  height: 51px;
  border: 3px solid rgba($primary-dark, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    border: 3px solid $primary-dark;
  }

  &:active {
    border: 3px solid rgba($primary-dark, 0.1);
  }
}

.social-list__icon {
  fill: $accent;
}

.social-list__item:active .social-list__icon {
  fill: rgba($accent, 0.3);
}

.site-footer__development {
  width: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-footer__development__link .site-footer__development-logo {
  fill: $accent;

  &:hover {
    fill: $primary-dark;
  }

  &:active {
    fill: rgba($primary-dark, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .site-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 36px;

    &--none {
      display: flex;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
