.site-nav {
  background-color: $dark;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;

}
.site-nav__list {
  text-align: center;
  list-style: none;

}
.site-nav__item {
  color: $text-white;
}
